.fishing-wrapper {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fishing-container {
  position: absolute;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8rem;
}
.box-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: center;
  width: 100%;
  height: 8rem;
}
.box-header span {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #fff;
  align-items: center;
}

.fishing-box1 {
  display: flex;
  width: 24rem;
  height: 6rem;
  justify-content: center;
  align-content: center;
  border: #fff dashed 0.5rem;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 40px;
  align-items: center;
  z-index: 1;
}

.hiddenMode {
  display: none;
}
.fishing-close {
  position: absolute;
  right: 1rem;
  top: 24rem;
  padding: 1.2%;
  font-size: 1.2rem;
  border: #fff solid 0.3rem;
  z-index: 1;
  font: bold;
  color: #fff;
}

.fishing_wave1 {
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -3;
  opacity: 0.9;
}
.fishing_wave2 {
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.fishing-cat {
  background: url("../../../public/assets/cats/cat8.png") center center
    no-repeat;
  width: 30rem;
  height: 30rem;
  position: absolute;
  top: -15rem;
  left: 2rem;
  scale: 0.4;
  z-index: -2;
  /* Add the animation properties */
  animation-name: sway-cat;

  animation-duration: 3s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* Adjust the timing function as needed */
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}

.fishing-ship {
  background: url("../../../public/assets/icons/ship.png") center center
    no-repeat;
  width: 20rem;
  height: 10rem;
  position: absolute;
  left: 5rem;
  top: 8rem;
  z-index: -2;

  /* Add the animation properties */
  animation-name: sway-ship;

  animation-duration: 3s; /* Adjust the duration as needed */
  animation-timing-function: ease-in-out; /* Adjust the timing function as needed */
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}
@keyframes sway-cat {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(5deg);
  }
}

@keyframes sway-ship {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(
      -5deg
    ); /* Negative rotation to sway in the opposite direction */
  }
}
