.bowlcontainer {
  border: solid 0.4rem rgb(250, 245, 206);
  /* border: 0.5rem outset pink; */
  /* outline: 1px solid #fff; */
  /* box-shadow: 0 0 0 2rem rgb(130, 216, 250); */
  border-radius: 50px;
  /* font: bold 1rem sans-serif; */
  /* margin: 2rem;
  padding: 1rem; */
  /* outline-offset: 0.5rem; */
  position: absolute;
  left: 5%;
  width: 90%;
  height: 55%;
  overflow: hidden;
}
