.slide-inner-menu-inven {
  /* z-index: 999; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* position: relative; */
  transform: translate(15%, -100%);
  position: absolute;
  /* margin: auto; */
  /* top: 30%; */
  /* 추가 스타일 및 디자인 설정필요 */
}
.slide-inner-menu-fishbowl {
  /* z-index: 999; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* position: relative; */
  transform: translate(50%, -100%);
  position: absolute;
  /* margin: auto; */
  /* top: 30%; */
  /* 추가 스타일 및 디자인 설정필요 */
}
.invenbtn {
  border: thick double black;
  border-radius: 10px;
}
