.completed {
  text-decoration: line-through;
}

.checkbox_wrapper {
  width: 90%;
  height: 50%;
  border-radius: 30px;
  border: 1rem solid #fff;
  left: 5%;
  position: absolute;
  top: 5%;
  padding: 5%;
}

.checkbox_input {
  position: absolute;
}
.check_btn {
  padding-left: 1rem;
}

.checklist {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
}
