.login-inputbox {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 15rem;
  /* margin: 30px 0px 0px 0px; */
  flex-direction: column;
  bottom: 15rem;
  left: 6rem;
}

.login-buttonbox {
  display: flex;
  justify-content: center;
  margin: 10px;
  left: 10rem;
  top: 18rem;
}

.login-button {
  background: #ffd13c;
  font-weight: bold;
  margin: 10px 20px 10px 0;
  width: 5rem;
  height: 2rem;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-cat {
  background: url("../../../public/assets/cats/cat12.gif") center center
    no-repeat;
  position: fixed;
  height: 30rem;
  width: 30rem;
  top: -6rem;
  left: 3rem;
  scale: 0.5;
}

.login-island {
  background: url("../../../public/assets/images/island.png") center center
    no-repeat;
  position: fixed;
  height: 8rem;
  width: 18rem;
  right: -2rem;
  top: 10rem;
  z-index: -2;
}

.login-wrapper {
  position: absolute;
  left: 0.3rem;
  top: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35rem;
  width: 25rem;
  background: url("../../../public/assets/icons/fish3.png") center center
    no-repeat;
  opacity: 0.7;
}

.login_wave1 {
  height: 85%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: -3;
}

.login_wave2 {
  height: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  z-index: -3;
}

.login_wave3 {
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
