.e1768_453 {
  background-color: rgba(255, 255, 255, 1);
  width: 360px;
  height: 800px;
  position: absolute;
}
.e1768_454 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 306px;
  height: 300px;
  position: absolute;
  left: 27px;
  top: 250px;
}
.e1768_455 {
  width: 150px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e1768_456 {
  border-radius: 6px;
  background-color: rgba(
    162.33229011297226,
    178.16421657800674,
    218.87500405311584,
    1
  );
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e1768_457 {
  color: rgba(242.00000077486038, 250.00000029802322, 255, 1);
  width: 88px;
  height: 48px;
  position: absolute;
  left: 42px;
  top: 126px;
  font-family: Inter;
  text-align: left;
  font-size: 48px;
  letter-spacing: -2;
  line-height: px;
}
.e1768_458 {
  transform: rotate(180deg);
  width: 156px;
  height: 300px;
  position: absolute;
  left: 306px;
  top: 0px;
}
.e1768_459 {
  border-radius: 6px;
  background-color: rgba(242.00000077486038, 250.00000029802322, 255, 1);
  width: 300px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e1768_460 {
  transform: rotate(180deg);
  color: rgba(95.625, 116.45000293850899, 170.0000050663948, 1);
  width: 90px;
  height: 48px;
  position: absolute;
  left: 123px;
  top: 126px;
  font-family: Inter;
  text-align: left;
  font-size: 48px;
  letter-spacing: -2;
  line-height: px;
}
