.profileContainer {
  height: 95%;
  /* background-color: rgb(238, 240, 243); */
}

.profileTop {
}

.profileimgBox {
  height: 35%;
  width: 100%;
  /* position: relative;
  top: 20%; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileimgbox {
  border-radius: 70%;
  overflow: hidden;
  transform: translateY(50%);
  height: 100%;
  width: 20%;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(250, 245, 206);
  /* position: relative;
  top: 35%; */
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.profilefollowContainer {
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(250, 245, 206);
  border-radius: 30px 30px 0% 0%;
  width: 90%;
  height: 65%;
}

.profileusernickname {
  margin: 0;
}
.profileBottom {
  height: 70%;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.profiletoggleBar {
  height: 5%;
  justify-content: center;
}

.profileactive {
  background-color: rgb(168, 195, 246);
  border-radius: 10%;
}

.profiledefault {
  background-color: transparent;
  border-radius: 10%;
}
.profileMiddle {
  /* background-color: rgb(250, 245, 206);
  width: 100%; */
}
.profilebottom {
  height: 95%;
}

.profilesetting {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.postbox {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypost {
  height: 100%;
  width: 90%;
  margin-top: 5%;
  /* border: 1px solid black; */
  background-color: rgb(250, 245, 206);
  border-radius: 10px;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.postcard {
  height: 43%;
  width: 45%;
  background-color: aliceblue;
  margin: 1%;
  border: thick double black;
  border-radius: 10%;
  background-color: rgb(250, 245, 206);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.postimgbox {
  height: 60%;
  width: 100%;
  border-radius: 10%;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.postimg {
  /* border-radius: 10%; */

  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}

.mypost-page-btn {
  border-radius: 10px;
  /* background-color: lightblue; */
}

.pagination {
  position: absolute;
  left: 1%;
  bottom: 5%;
  background-color: transparent;
}
.postbody {
  margin: auto;
}

.postfotter {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
.mypost-page-btn {
  background-color: transparent;
  border: 0;
}
.pagination {
  transform: translateX(15%) translateY(-10%);
}

.page-btn-active {
  /* background-color: white; */
  background-color: transparent;
  color: rgb(249, 42, 19);
  border: 0;
}

.page-btn-default {
  background-color: transparent;
  border: 0;
}
