.pic-newbie-talk-box {
  display: flex;
  width: 90%;
  height: 12%;
  border-radius: 35px;
  background-color: #ffe48e;
  border: dashed #ffffff 0.2rem;
  position: fixed;
  bottom: 5rem;
  left: 5%;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

/* .cameracontent {
  height: 60%;
} */
/* 
.last-captured-image {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: fill;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
} */
