#map {
  position: absolute;
  width: 90%;
  height: 500px;
  top: 7rem;
  left: 5%;
}
#title {
  display: absolute;
  padding-top: 20%;
}

.mapsearch {
  position: fixed;
  bottom: 30%;
}

.mapsearchresult {
  position: fixed;
  bottom: 20%;
}

.newbie_talk {
  width: 85%;
  height: 10%;
  background-color: bisque;
  position: absolute;
  bottom: 2rem;
}
