#map {
  position: absolute;
  width: 90%;
  height: 500px;
  top: 3rem;
  left: 4.5%;
  border-radius: 20px;
  border: 8px solid #ffffff;
}
#title {
  display: absolute;
  padding-top: 20%;
}

.mapsearch {
  position: fixed;
  bottom: 30%;
}

.mapsearchresult {
  position: fixed;
  bottom: 20%;
}

.newbie-talk {
  width: 85%;
  height: 10%;
  background-color: bisque;
  position: absolute;
  bottom: 2rem;
}
