.modal_wrap {
  position: fixed;
  inset: 4.5%;
  background-color: rgba(62, 92, 203, 0.742);
  border-radius: 20px;
  /* display: flex; */
  justify-content: center;
  width: 90%;
  height: 90%;
  color: #fff;
}

.presentation {
  width: 90%;
  height: 90%;
  z-index: 1200;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  color: #fff;
  font-weight: bold;
}

.modal {
  position: absolute;
  padding-left: 10%;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 5%;
}

.modal-information {
  font-size: 1rem;
  padding-left: 5%;
}
