.board-wrapper {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* 가로 가운데 정렬 */
  align-items: baseline;
  /* 세로 가운데 정렬 */
  /* max-height: 45rem; */
  /* 카로셀 전체의 최대 높이를 설정합니다. */
  margin: 0 auto;
  /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}
.board-board {
  width: 100%;
  height: 47.625rem;

  overflow-y: auto;
}
.board-carousel {
  /* position: relative;
  width: 24rem;
  height: 40.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

/* 스크룰 바 숨기기 */
.board-disable-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.board-disable-scrollbar::-webkit-scrollbar {
  display: none;
}

.board-header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe48e;
}

.board-title-container {
  margin-left: 1rem;
}
.board-title-container h1 {
  margin: 0;
  font-weight: bold;
}

.board-search-img-container {
  margin: 0.2rem 0.6rem 0.2rem 0.2rem;
  height: 3.5rem;
  width: auto;
  display: flex;
  align-items: center;
}
.board-search-img-container img {
}

.board-tag-wrapper {
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #ccc;

  display: flex;
  overflow-x: scroll;
}
.board-tag-wrapper::-webkit-scrollbar {
  display: none;
}

.board-tag-carousel {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
}

.board-loading {
  text-align: center;
  display: flex;
  justify-content: center;
}
.board-loading img {
  width: 3rem;
  height: 3rem;
}

.board-create-feed {
  z-index: 3;
  background-color: #ffe48e;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 1rem;
  bottom: 3.8rem;
}
