.feed-tag-wrapper {
  margin: 0 0.2em 0 0.2rem;
  align-items: center;

<<<<<<< HEAD
  border: 1px solid;
=======
  /* border: 1px solid; */
>>>>>>> 849874c40f88a8bfcf84d3c8ca41374d99d78fae

  background-color: #f4f4f4;
  border-radius: 200px;
  font-weight: bold;
<<<<<<< HEAD
  width: 4.5rem;
  height: 2rem;
=======
  width: 3.7rem;
  height: 1.7rem;
>>>>>>> 849874c40f88a8bfcf84d3c8ca41374d99d78fae
  display: flex;
  justify-content: center;
  min-width: 5rem;
}

.feed-tag-wrapper h6 {
  color: rgb(0, 0, 0);
<<<<<<< HEAD
  font-weight: bold;
  margin: 0;
}
=======
  /* font-weight: bold; */
  margin: 0;
}

.feed-tag-active {
  background-color: #ffe48e;
}

.feed-tag-inactive {
  background-color: #f4f4f4;
}
>>>>>>> 849874c40f88a8bfcf84d3c8ca41374d99d78fae
