.feed-tag-wrapper {
  align-items: center;
  background-color: #fce7f1;
  border-radius: 200px;
  font-weight: bold;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  min-width: 5rem;
}

.feed-tag-wrapper h6 {
  color: blue;
  font-weight: bold;
}
