.modify-feed-wrapper {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  height: 100%;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  /* 가로 가운데 정렬 */
  align-items: baseline;
  /* 세로 가운데 정렬 */
  /* max-height: 45rem; */
  /* 카로셀 전체의 최대 높이를 설정합니다. */
  margin: 0 auto;
  /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}

.modify-feed-cancel {
  margin: 0 1rem 0 1rem;
  height: 3.5rem;
  width: auto;
  /* display: flex;
    align-items: center; */
}

.modify-feed-header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe48e;
}

.modify-feed-title {
  margin-right: auto;
}
.modify-feed-title h1 {
  margin: 0;
  font-weight: bold;
}

.modify-feed-submit {
  margin: 0 1rem 0 1rem;
  height: 3.5rem;
  width: auto;
  /* display: flex;
    align-items: center; */
}
.modify-feed-contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modify-feed-delete {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fda179;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 1rem;
  bottom: 3.8rem;
}

.modify-feed-add-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.modify-feed-add-tag input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 1rem;
  font-size: 14px;
}

.modify-feed-add-tag-button {
  margin-left: 1rem;
  align-items: center;
  background-color: #ffe48e;
  border-radius: 200px;
  font-weight: bold;
  width: 3.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  min-width: 5rem;
}
