.dogam-wrapper {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  max-height: 45rem; /* 카로셀 전체의 최대 높이를 설정합니다. */
  margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}

.dogam-board {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 228.36573958396912, 142.37500101327896, 1);
  width: 24rem;
  height: 40.625rem;
  border-radius: 2.8125rem;

  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.dogam-carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  align-items: start;
}

.dogasdsam-carousel {
  padding-top: 3.25rem;
  padding-bottom: 1.25rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 228.36573958396912, 142.37500101327896, 1);
  width: 24rem;
  height: 40.625rem;
  position: absolute;
  border-radius: 2.8125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* 넘치는 요소들을 다음 줄로 넘어가게 함 */
  align-items: flex-start; /* 세로 가운데 정렬 */
  overflow-y: scroll; /* 내용이 넘칠 때 스크롤이 생성됩니다. */
}

.dogam-slide {
  border-radius: 0.6rem;
  display: flex;
  background-color: white; /*배경 임시 하얀색 이미지 배경은 #53d5fd 임*/
  width: calc(32% - 0.625rem);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin: 0.3125rem; /* 가운데 정렬을 위해 필요한 스타일 */
}
.dogam-slide img {
  border-radius: 0.6rem 0.6rem 0 0;

  width: 100%;
  height: auto;
}
.dogam-slide h6 {
  color: black;
  font-weight: bold;
}

.dogam-slide-inactive {
  background-color: rgba(0, 0, 0, 0.8);
}

.dogam-back-button {
  border-radius: 1rem;

  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgb(255, 195, 122);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 3rem;
  right: 2.5rem;
  z-index: 1;
}

/* 스크룰 바 숨기기 */
.dogam-disable-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.dogam-disable-scrollbar::-webkit-scrollbar {
  display: none;
}
