.dogam-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
}

.dogam-carousel {
  max-height: 45rem; /* 카로셀 전체의 최대 높이를 설정합니다. */
  margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정합니다. */
}

.dogam-board {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 228.36573958396912, 142.37500101327896, 1);
  width: 24rem;
  height: 40.625rem;
  position: absolute;
  border-radius: 2.8125rem;
  flex-wrap: wrap; /* 넘치는 요소들을 다음 줄로 넘어가게 함 */
  align-items: flex-start; /* 세로 가운데 정렬 */
  overflow: auto; /* 내용이 넘칠 때 스크롤이 생성됩니다. */
}

.dogam-slide {
  background-color: aliceblue; /*배경 임시 하얀색*/
  width: calc(33.33% - 0.625rem);
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.3125rem; /* 가운데 정렬을 위해 필요한 스타일 */
}
.dogam-slide img {
  width: 100%;
  height: auto;
}
.dogam-slide h6 {
  color: black;
  font-weight: bold;
}

.dogam-slide-inactive {
  background-color: rgba(0, 0, 0, 0.8);
}
