body {
  /* background: url("../../../public/assets/images/background1.png") center
    no-repeat; */
  background-color: #c5e2eb;
  height: 100vh;
  overflow: hidden;
}

.cat {
  /* position: absolute; */
  /* bottom: 7rem; */
  /* left: 8rem; */
  /* z-index: -1; */
  /* scale: 0.5; */
}

/* 피싱모드일 때 띠 보이게 하기 */
.hidden {
  display: none;
}
.fishingmode {
  position: absolute;
  display: flex;
  top: 1rem;
  z-index: 2;
}

.fishingmode-title {
  background: url("../../../public/assets/icons/seagull2.png") center center
    no-repeat;
  top: 0.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out;
  font-weight: bold;
  /* left: ${({ fishingOpen }) => (fishingOpen ? "2rem" : "5rem")}; */
}

.nowfishing {
  top: 0;
  position: absolute;
  border-radius: 30px;
  border: dashed 0.2rem #fff;
  width: 20rem;
  height: 2rem;
  left: 4rem;
  z-index: 2;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}

.background_wave2 {
  height: 32%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -4;
  opacity: 0.8;
}
.background_wave1 {
  height: 21%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  z-index: -3;
}
